/* Title.css */

.title {
  text-align: center; /* Center-align the content */
  margin: 5.5rem 0; /* Add spacing above and below */
  padding: 1rem; /* Add padding inside the container */
}

.title p {
  font-size: 3rem; /* Smaller font size for the subtitle */
  font-weight: 500; /* Slightly bold */
  font-weight: bold;
  color: #289436; /* Light gray color for the subtitle */
  margin-bottom: 0.5rem; /* Add space below the subtitle */
}

.title h2 {
  text-align: center;
  font-size:.9rem; /* Smaller font size for the title */ /* Make the title bold */
  color: #ffffff; /* Darker color for the title */
  line-height: 1.4; /* Adjust line height for better readability */
  max-width: 800px; /* Limit the width for better layout */
  margin: 0 auto; /* Center the title within the container */
}

.title h2 span {
  color: #007bff; /* Optional: Highlight certain words in a different color */
}

@media screen and (max-width: 800px) {
  .title {
    margin: 3rem 0; /* Adjust margin for smaller screens */
  }

  .title p {
    font-size: 1.5rem; /* Adjust font size for smaller screens */

  }

  .title h2 {
    font-size: 0.7rem; /* Adjust font size for smaller screens */

  }
  .title h2 span {
    color: #007bff; /* Optional: Highlight certain words in a different color */
  }
  
  
}
