nav{
    width:100%;
    color:#fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    z-index: 100;
    padding-left: 10%;
    padding-right: 10%;

}
.logo{
    width: 200px; ;
    z-index: 200;
    padding-top: 15      px;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul {
    padding: 0;
    margin: 0;
    text-align: left;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    color: #fff
}

.dark-nav{
    background:linear-gradient(rgba(14, 12, 5, 0.6), rgb(0, 0, 0));
    transition: .4s;


}

.menu-icon{
    display: none;
}

 
@media(max-width:1000px){
    nav ul li{
        font-size: 14px;
    }
    .logo{
        width: 150px;
    }

}
@media(max-width:850px){
    nav{
        padding: 15px 0;


    }
    nav ul{
        
        top: 0;
        right:00px;
        position: fixed;
        background: linear-gradient(rgba(14, 12, 5, 0.6), rgb(0, 0, 0));
        width: 200px;
        height: 100vh;

        z-index: -1;
        padding-top: 70px ;
        transition: .4s;

    }
    nav ul li{
        display: block;
        margin: 25px 40px;
        text-align: center;
    }
    .menu-icon{
        display: block;
        
        width:30px ;
        cursor: pointer;
        
    }

    .hide-mobile-menu{
        right: -200px;
    }
    .logo{
        width: 100px;
    }

}