@import url('https://fonts.googleapis.com/css2?family=JUST+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JUST Sans', sans-serif;
}

body {
    background: #000000;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

/* Containers */
.container {
    padding-left: 10%;
    padding-right: 10%;
}

/* Button Styling */
.btn {
    background: linear-gradient(to right, rgba(144, 238, 144, 0.8), rgba(43, 49, 5, 0.627), rgb(0, 0, 0));
    color: white;
    padding: 14px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.btn img {
    width: 20px;
    margin-left: 10px;
}

.btn:hover {
    opacity: 0.8;
}

/* Responsive */
@media (max-width: 1200px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .btn {
        padding: 10px;
        font-size: 14px;
    }
}
